.card {
    background: white;
    border-radius: 11px;
    padding: 15px;
}

.circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    float: right;
}

.alert {
    display: none;
}

.alert {
    text-align: left;
    margin: 7px;
}

.blacks {
    background-color: black;
    margin-top: -23px;
}

.blues {
    background-color: blue;
    margin-top: -22px;
}

.reds {
    background-color: red;
    margin-top: -22px;
}

.darkgrens {
    background-color: darkgreen;
    margin-top: -22px;
}

.swal2-popup.swal2-modal.swal2-show {
    width: 100%;
    max-width: 500px;
    padding: 40px;
}

.cancel-event {
    background-color: red !important;
}


.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.darkgren {
    background-color: darkgreen;
}
