.title{

    text-align: center;
    margin-top: 68px;
}


.subti{
    margin-left: 166px;

}

.sub{
    width: 901px;

margin-left: 130px;
}
footer {
				
    background-color: #f6f5f7;
        color: #fff;
        font-size: 14px;
        position: absolute;
        left: -243px;
        right: 0px;
        text-align: center;
        width: 2131px;
        margin-top: 216px;
        height: 107px;
    
}

.foot{
    width: 450px;margin-left: 1057px;margin-top: -24px; color: black;

}
.imgfoot{
    width: 266px;background-color: transparent;margin-left: -326px;margin-top: -50px;
 
}