
			@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
			
			* {
				box-sizing: border-box;
			}
			
			body {
			
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				font-family: 'Montserrat', sans-serif;
				height: 100vh;
				margin: -20px 0 50px;
				background-image:url("../images/Auditorioadelante.jpeg");
				background-repeat: no-repeat;
				background-size: 100%;
			}
			
			h1 {
                font-weight: bold;
                font-size: 20px;
			
			}
			
			h2 {
				text-align: center;
			}
			
			p {
				font-size: 14px;
				font-weight: 100;
				line-height: 20px;
				letter-spacing: 0.5px;
				margin: 20px 0 30px;
			}
			
			span {
				font-size: 12px;
			}
			
			a {
				color: #333;
				font-size: 14px;
				text-decoration: none;
				margin: 15px 0;
			}
			
			button {
				border-radius: 20px;
				border: 1px solid #FF4B2B;
				background-color: #FF4B2B;
				color: #FFFFFF;
				font-size: 12px;
				font-weight: bold;
				padding: 12px 45px;
				letter-spacing: 1px;
				text-transform: uppercase;
                transition: transform 80ms ease-in;
                margin-top: 33px;
			}
			
			button:active {
				transform: scale(0.95);
			}
			
			button:focus {
				outline: none;
			}
			
			button.ghost {
				background-color: transparent;
				border-color: #FFFFFF;
			}
			
			form {
				background-color: #FFFFFF;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				padding: 0 50px;
				height: 100%;
				text-align: center;
			}
			
			input {
				background-color: #eee;
				border: none;
				padding: 12px 15px;
				margin: 8px 0;
				width: 200px;
				margin-left: -195px;
			}
			
			.container {
				background-color: #fff;
				border-radius: 10px;
				  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
						0 10px 10px rgba(0,0,0,0.22);
				position: relative;
				overflow: hidden;
				width: 1011px;
				max-width: 100%;
				min-height: 534px;
			}
			
			.form-container {
				position: absolute;
				top: 0;
				height: 100%;
				transition: all 0.6s ease-in-out;
			}
			
			.sign-in-container {
				left: 0;
				width: 50%;
				z-index: 2;
			}
			
			.container.right-panel-active .sign-in-container {
				transform: translateX(100%);
			}
			
			.sign-up-container {
				left: 0;
				width: 50%;
				opacity: 0;
				z-index: 1;
			}
			
			.container.right-panel-active .sign-up-container {
				transform: translateX(100%);
				opacity: 1;
				z-index: 5;
				animation: show 0.6s;
				width: 497px;
			}
			
			@keyframes show {
				0%, 49.99% {
					opacity: 0;
					z-index: 1;
				}
				
				50%, 100% {
					opacity: 1;
					z-index: 5;
				}
			}
			
			.overlay-container {
				position: absolute;
				top: 0;
				left: 50%;
				width: 50%;
				height: 100%;
				overflow: hidden;
				transition: transform 0.6s ease-in-out;
				z-index: 100;
			}
			
			.container.right-panel-active .overlay-container{
				transform: translateX(-100%);
			}
			
			.overlay {
				background: #FF416C;
				background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
				background: linear-gradient(to right, #AFAEB4, #E36E00);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: 0 0;
				color: #FFFFFF;
				position: relative;
				left: -100%;
				height: 100%;
				width: 200%;
				  transform: translateX(0);
				transition: transform 0.6s ease-in-out;
			}
			
			.container.right-panel-active .overlay {
				  transform: translateX(50%);
			}
			
			.overlay-panel {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				padding: 0 40px;
				text-align: center;
				top: 0;
				height: 100%;
				width: 50%;
				transform: translateX(0);
				transition: transform 0.6s ease-in-out;
			}
			
			.overlay-left {
				transform: translateX(-20%);
			}
			
			.container.right-panel-active .overlay-left {
				transform: translateX(0);
			}
			
			.overlay-right {
				right: 0;
				transform: translateX(0);
			}
			
			.container.right-panel-active .overlay-right {
				transform: translateX(20%);
			}
			
			.social-container {
				margin: 20px 0;
			}
			
			.social-container a {
				border: 1px solid #DDDDDD;
				border-radius: 50%;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				margin: 0 5px;
				height: 40px;
				width: 40px;
			}
			
			footer {
				background-color: #f6f5f7;
				color: #fff;
				font-size: 14px;
				position: absolute;
<<<<<<< HEAD
				left: -243px;
right: 0px;
				text-align: center;
				width: 1420px;
			
				margin-top: 216px;
height: 123px;
overflow-x: hidden;
overflow-y: hidden;
=======
				left: 0;
				right: 0;
				text-align: center;
				width: 1340px;
				margin-top: 218px;
>>>>>>> 6ce1ff512c46b4d30419d087853cb81a87e808c7
			}
			
			footer p {
				margin: 10px 0;
			}
			
			footer i {
				color: red;
			}
			
			footer a {
				color: #3c97bf;
				text-decoration: none;
			}
            
.image{
    margin-left:-14px; height: 99px; background-color: transparent;width: 332px;margin-top: -35px;


}

.iape{
    width: 200px;margin-left: 254px;margin-top: 6px;
}

.name{
    
    margin-left: -327px;
}

.lastname{
    margin-top: -73px;margin-left: 128px;
    
}

.cc{
    margin-left: -332px;margin-top: 10px; 
    
}
.phone{
    margin-left: 124px;margin-top: -19px;
    
}
.cc2{
    margin-left: 255px; margin-top: 13px;
    
}
.phone2{
    margin-top: -48px;
}

.email{
    margin-left: -332px;margin-top: 9px;
    
}
.confi{
    margin-left: 209px;margin-top: -19px;
    
}
.rig{
    margin-left: 254px; margin-top: 11px
    
}
.rogs{
    margin-top: -48px;
    
}
.contra{
    margin-left: -293px;margin-top: 26px;
    
}


.conficontra{
    margin-left: 217px;margin-top: -20px;
    
}
.ojos{
    background: rgba(255, 255, 255, 0.05);  margin-left: 33px; padding: 6px 7px;border: 0px; margin-top: 10px;
    
}
.ojo2{
    height: 20px;  width: 20px;
    
}
<<<<<<< HEAD
.ojo{

	background: rgba(255, 255, 255, 0.05);
	
	margin-left: 293px;
	
	margin-top: -77px;
	
	width:129;
	
	border-radius: 20px;
	
	border: transparent;
	
	}
		
	
=======
>>>>>>> 6ce1ff512c46b4d30419d087853cb81a87e808c7
.pass{
    margin-left: 266px; margin-top: -36px;
    
}
.pass2{
    margin-top: -48px;
    
}

.stre{
    margin-top: 33px;
}

.condi{
    color: red;

}


.check{
    margin-left: -369px;    

}


.leido{
    margin-top: -23px;margin-left: -97px;

}

.bntcre{
    
    margin-top: 12px;margin-left: -140px;
}

.btncan{
    margin-top: -42px;margin-left: 210px;border-radius: 20px;
    background: #FF4B2B;color: #FFFFFF;text-transform: uppercase; font-weight: bold;

}

.imgh{
    margin-left:-14px; height: 99px; background-color: transparent;width: 332px;margin-top: -16px;

}

.tmail{
    margin-left: -339px;

}

.btss{
    background: rgba(255, 255, 255, 0.05);  margin-left: 52px; padding: 6px 7px;border: 0px; margin-top: 60px;

}
.imghj{
  height: 20px;  width: 20px;

}
.conto{
    margin-left: -303px;margin-top: -68px;

}
.olvi{
    margin-top: 43px;

}
.ing{
    margin-top: 12px;

}
.foot{
<<<<<<< HEAD
    width: 450px;
margin-left: 862px;
margin-top: -24px;
color: black
=======
    width: 363px;margin-left: 522px;margin-top: 48px; color: black;
>>>>>>> 6ce1ff512c46b4d30419d087853cb81a87e808c7

}
.imgfoot{
    width: 266px;background-color: transparent;margin-left: -672px;margin-top: -46px;
 
}
.si{

    margin-left: 34px;
}
.sis{

    margin-left: 4px;
}

.buton{
    margin-top: -3px;

    margin-left: -164px;
    
    border-radius: 20px;
    
    background:
    #FF4B2B;    
    color:
    #FFFFFF;   
    text-transform: uppercase;  
    font-weight: bold;

}


.but{
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    margin-top: 12px;

    margin-left: -168px;

}
.buts{
	border-radius: 20px;
	border: 1px solid  #E36E00;
	background-color:  #E36E00;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    margin-top: -59px;

    margin-left: 228px;

}

.gho{

 background-color:
transparent;

border-color:#FFFFFF;
border-radius: 20px;

color:
#FFFFFF;

font-size: 12px;

font-weight: bold;

padding: 12px 45px;

letter-spacing: 1px;

text-transform: uppercase;

transition: transform 80ms ease-in;
}

.col{
    margin-left: -61px;

    margin-top: 12px;

}
.los{

    margin-left: 277px;

    margin-top: 5px;
    
    margin-right: 325px;
}


.yol{margin-left: -120px;}

.ñp{margin-right: 47px;}
.ig{margin-right: 47px;}
.igs{margin-right: 120px;

    margin-left: 107px;}

.igss{margin-left: 36px;

    margin-right: 47px;}
.che{margin-left: -308px;}


.ches{margin-top: -23px;

    margin-left: -130px;}