.loading-players {
    position: fixed;
    left: 0;
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2,
.h2 {
    margin: 0 !important;
}

#bola {
    line-height: 95px;
    background-color: #515A5A;
    color: white;
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    text-align: center;
    font-size: 60px;
    padding: auto;
}

#carton {
    width: 75%;
    margin: auto;
}

#bbingo {
    text-align: center;
    padding: auto;
    margin: auto;
}

#carton td {
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 60px;
}

.hueco {
    background-image: url(img/bombo.png);
    background-position: center;
    background-size: 62px;
}

.marca {
    background-color: white;
    color: white;
}